/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin: 0px;
	padding: 0px;
	height: 20%;
	background: #FF00EA;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 2em;
	font-family: Georgia;

}

#container5 {
	width: 75%;
	margin: auto;
}

ul {
	list-style-type: none;
	padding: 20px;
	margin: auto;
}

#special {
	font-family: 'Pirata One';
	background: none;
	color: black;
	padding: 1em;
}


img {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	display: block;
	margin: 10px auto;
}

#image1 {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	display: block;
	margin: auto;
}

#image2 {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	display: block;
	margin: auto;
}

#image3 {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	display: block;
	margin: auto;
}

figcaption {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}


h1 {
	font-family: 'Pirata One';
	padding: 2px;
	background: #D80000;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2 {
	font-family: 'Pirata One';
	padding: 2px;
	background: #D80000;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#first {
	padding: 20px;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#second {
	padding: 20px;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#thrid {
	padding: 20px;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}


#fourth {
	padding: 20px;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#faith {
	padding: 20px;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#sixth {
	padding: 20px;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#seventh {
	padding: 20px;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#figure1 {
	width: 35%;
}

#figure2 {
	width: 35%;
}

footer {
	background: #ff0000;
	color: black;
}

/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	

}

/* closes 769px+ */


/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {

	main {
		display: flex;
	}

	img {
		width: 50%;
	}

	#first {
		width: 1500px;
	}

	#image1 {
		width: 250%;
	}

	#second {
		width: 1500px;
	}
	
	#thrid {
		width: 1500px;
	}

	#image2 {
		width: 250%;
	}

	#fourth {
		width: 1500px;
	}

	#faith {
		width: 1500px;
	}

	#image3 {
		width: 250%;
	}

	#sixth {
		width: 1500px;
	}

	#seventh {
		width: 1500px;
	}
}
/* closes 1024px+ */



