/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	height:100%;

}

html {
	/* Standard text-settings below */
	font-size: 2em;
	line-height: 1.2em;
	background-color: black;
}


body {
	
	font-family: "Pirata One", system-ui;
	font-weight: 400;
	font-style: normal;
	
}


#container {
	
}

.You_Better_Comply {
	position: relative;
	left: 550px;
	color: #f2ad46;
}

.All {
	position: relative;
	top: 50px;
	font-size: 100px;
	left: 700px;
	color: #fc38f6;
}

.Hail {
	position: relative;
	top: 170px;
	font-size: 125px;
	left: 575px;
	color: #fc38f6;
}

.The {
	position: relative;
	top: 310px;
	font-size: 165px;
	left: 390px;
	color: #fc38f6;
}

.Crystal {
	position: relative;
	top: 380px;
	font-size: 70px;
	left: 200px;
	color: #fc38f6;
}
.King {
	position: relative;
	top: 460px;
	font-size: 70px;
	left: 60px;
	color: #fc38f6;
}
